{% block title %}My courses{% endblock %}

{% block content %}
  <h1>Mis Eventos</h1>
  <div class="module">
    {% for course in object_list %}
      <div class="course-info">
        <h3>{{ course.title }}</h3>
        <p>
          <a href="{% url "course_edit" course.id %}">Editar</a>
          <a href="{% url "course_delete" course.id %}">Eliminar</a>
          Edit modules</a>
          {% if course.modules.count > 0 %}
            <a href="{% url "module_content_list" course.modules.first.id %}">
            Manage contents</a>
          {% endif %}
          
        </p>
      </div>
    {% empty %}
      <p>You haven't created any courses yet.</p>
    {% endfor %}
    <p>
      <a href="{% url "course_create" %}" class="button">Crear Nuevo Evento</a>
    </p>
  </div>
{% endblock %}